<!DOCTYPE html>
<html>
  <head>
    <title>Dreamer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta property="og:title" content="Dreamer" />
    <meta property='og:image' content="<%= image_url('splash-gif.gif') %>"/>
    <meta property="og:description"
      content="Dreamer is a Full Stack clone of the website Flickr, using React and Redux on the front end  and Ruby on Rails on the backend."/>
    <meta property="og:url"
      content="http://dreamer-heroku.herokuapp.com/#/"
    />

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>


    <%= favicon_link_tag asset_path('https://res.cloudinary.com/dijm9qoxa/image/upload/v1622249988/favicons/newFaviconDreamer_xqmkux.jpg') %>
     <script type="text/javascript">
    window.logo = "<%=image_url('https://res.cloudinary.com/dijm9qoxa/image/upload/v1622249988/favicons/newFaviconDreamer_xqmkux.jpg')%>"

    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
